#title {
    text-align: center;
}
  
#footer {
    text-align: center;
}
  
.sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outputValue {
  display: flex;
  justify-content: center;
  align-items: center;
}

#numOfFacts {
    display: flex;
    justify-content: center;
    align-items: center;
  }